/*--------ELEMENTS--------*/

body {
  margin: 0;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  color: #40514E;
}

h1 {
  font-family: 'Neucha', cursive;
  color: #66BFBF;
  font-size: 5.625rem;
  padding-top: 50px;
  margin: 50px auto 0 auto;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  padding-top: 15px;
  margin-top: 0 auto;
  padding-bottom: 10px;
  color: #66BFBF;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: dotted none none none;
  margin: 100px auto;
  width: 3%;
  border-width: 6px;
  color: #c5d1d1;
}

p{
  line-height: 2;
}


/*--------TOP CONTAINER--------*/

.top-container {
  background-color: #EAF6F6;
  padding-top: 50px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 70px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 400px;
}

.mountain {
  width: 800px;
  margin: 0 auto;
  padding: 0;
  display: block;
}


/*--------MIDDLE CONTAINER--------*/

.middle-container {
  background-color: #FFFFFF;
  padding-top: 50px;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 50px auto 150px auto;
  text-align: left;
}


/*--------CONTACT ME--------*/

.contact-me {
  background-color: #FFFFFF;
  padding-bottom: 15px;
  margin-top: 50px;
}

.btn {
  margin: 30px auto 30px auto;
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: linear-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px;
  border: solid #66BFBF 0px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}


/*--------FOOTER--------*/

.bottom-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #66bfbf;
}

.footer-link {
  color: #11999E;
  font-weight: bold;
}

.ccfl {
  color: #eaf6f6;
}


/*--------SPANS--------*/

.span1 {
  font-style: oblique;
}


/*--------PICTURES--------*/

.face {
  border-radius: 100%;
  width: 13%;
  margin-top: 35px;
  margin-bottom: 35px;
}

.board {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}

.dj {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 100%;
}
