body {
  margin: 0;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  color: #40514E;
}

h1 {
  font-family: 'Neucha', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  padding-top: 15px;
  margin-top: 0;
  margin-bottom: 0;
  color: #66BFBF;
  font-size: 2rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: dotted none none none;
  margin: auto;
  margin-bottom: 25px;
  width: 3%;
  border-width: 6px;
  color: #c5d1d1;
}

.hrbrok{
  margin: auto;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 50px;
  position: relative;
}

.top-cloud {
  position: absolute;
  bottom: 750px;
  margin-left: 280px;
}

.header1 {
  font-size: 90px;
  padding-top: 50px;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}

.ama {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  margin-top: 0;
}

.mano {
  font-style: oblique;
}

.amam {
  margin-top: 10px;
}

.bottom-cloud {
  position: absolute;
  left: 550px;
  bottom: 450px;
}

.mountain {
  width: 800px;
  margin: 0 auto;
  padding: 0;
  display: block;
}

.h21 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.mida1 {
  width: 25%;
  margin: 15px auto;
}

.middle-container {
  background-color: #FFFFFF;
}

.skill-row {
  width: 50%;
  margin: 50px auto 150px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  background-color: #FFFFFF;
  padding-bottom: 15px;
  margin-top: 20px;
}

.btn {
  margin: 30px auto 30px auto;
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: linear-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px;
  border: solid #66BFBF 0px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.bottom-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #66bfbf;
}

.dabot {
  color: #eaf6f6;
}

.footer-link {
  color: #11999E;
  font-weight: bold;
}

/*--------PICTURES--------*/
.face {
  border-radius: 100%;
  width: 13%;
  margin-top: 35px;
  margin-bottom: 35px;
}

.board {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}

.dj {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 100%;
}

.profile {
  padding-top: 30px;
  padding-bottom: 30px;
}
